In [34]:
# %pip install geopandas
import geopandas

In [35]:
df1 = geopandas.read_file('myExportTableTask.geojson')
df1.head()

,id,2020-09,2020-10,2020-11,2020-12,2021-01,2021-02,2021-03,2021-04,2021-05,...,2022-01,2022-02,2022-03,2022-04,2022-05,2022-06,2022-07,2022-08,remapped,geometry
0,0,0.572537,0.523612,0.633504,0.631024,0.497646,0.333333,0.392103,0.401424,0.194065,...,0.251765,0.291584,0.313290,0.325945,0.355279,0.388368,0.357178,0.359116,3,MULTIPOINT EMPTY
1,1,0.687131,0.649154,0.712372,0.686928,0.691875,0.359035,0.475875,0.384282,0.397581,...,0.295690,0.440307,0.414545,0.403923,0.366509,0.407802,0.344621,0.125492,4,MULTIPOINT EMPTY
2,2,0.700635,0.704447,0.693426,0.725944,0.660954,0.456360,0.466480,0.413536,0.394236,...,0.310599,0.376427,0.420913,0.419882,0.330469,0.235772,0.265225,0.315265,3,MULTIPOINT EMPTY
3,3,0.616775,0.339309,0.371105,0.325054,0.201402,0.338850,0.479398,0.321550,0.223622,...,0.155939,0.458954,0.427402,0.318627,0.191635,0.155920,0.127603,0.508676,3,MULTIPOINT EMPTY
4,4,0.682177,0.290777,0.417248,0.506977,0.204167,0.241031,0.369496,0.279172,0.232975,...,0.121378,0.299553,0.396157,0.291400,0.201519,0.122132,0.124151,0.313272,3,MULTIPOINT EMPTY

In [36]:
df2 = geopandas.read_file('sampled_points.geojson')
df2.head()

  id                   geometry
0  0  POINT (101.17873 3.57320)
1  1  POINT (101.09291 3.51755)
2  2  POINT (101.12252 3.71178)
3  3  POINT (101.16879 3.37051)
4  4  POINT (101.13634 3.39886)

In [37]:
# Merge df1, df2 using id
df3 = df1.merge(df2, on='id')
df3 = df3.drop(['id', 'geometry_x'], axis=1)
df3.head()

,2020-09,2020-10,2020-11,2020-12,2021-01,2021-02,2021-03,2021-04,2021-05,2021-06,...,2022-01,2022-02,2022-03,2022-04,2022-05,2022-06,2022-07,2022-08,remapped,geometry_y
0,0.572537,0.523612,0.633504,0.631024,0.497646,0.333333,0.392103,0.401424,0.194065,0.301224,...,0.251765,0.291584,0.313290,0.325945,0.355279,0.388368,0.357178,0.359116,3,POINT (101.17873 3.57320)
1,0.687131,0.649154,0.712372,0.686928,0.691875,0.359035,0.475875,0.384282,0.397581,0.403177,...,0.295690,0.440307,0.414545,0.403923,0.366509,0.407802,0.344621,0.125492,4,POINT (101.09291 3.51755)
2,0.700635,0.704447,0.693426,0.725944,0.660954,0.456360,0.466480,0.413536,0.394236,0.404805,...,0.310599,0.376427,0.420913,0.419882,0.330469,0.235772,0.265225,0.315265,3,POINT (101.12252 3.71178)
3,0.616775,0.339309,0.371105,0.325054,0.201402,0.338850,0.479398,0.321550,0.223622,0.186537,...,0.155939,0.458954,0.427402,0.318627,0.191635,0.155920,0.127603,0.508676,3,POINT (101.16879 3.37051)
4,0.682177,0.290777,0.417248,0.506977,0.204167,0.241031,0.369496,0.279172,0.232975,0.200796,...,0.121378,0.299553,0.396157,0.291400,0.201519,0.122132,0.124151,0.313272,3,POINT (101.13634 3.39886)

In [38]:
# Rename geometry_y to geometry
df3 = df3.rename(columns={'geometry_y': 'geometry'})
df3 = df3.rename(columns={'remapped': 'clustered_label'})

# Put x coordinates of the POINTS type into the x column
df3['x'] = df3['geometry'].apply(lambda p: p.x)
df3['y'] = df3['geometry'].apply(lambda p: p.y)

df3 = df3.drop(['geometry'], axis=1)
df3.head()

,2020-09,2020-10,2020-11,2020-12,2021-01,2021-02,2021-03,2021-04,2021-05,2021-06,...,2022-02,2022-03,2022-04,2022-05,2022-06,2022-07,2022-08,clustered_label,x,y
0,0.572537,0.523612,0.633504,0.631024,0.497646,0.333333,0.392103,0.401424,0.194065,0.301224,...,0.291584,0.313290,0.325945,0.355279,0.388368,0.357178,0.359116,3,101.178733,3.573203
1,0.687131,0.649154,0.712372,0.686928,0.691875,0.359035,0.475875,0.384282,0.397581,0.403177,...,0.440307,0.414545,0.403923,0.366509,0.407802,0.344621,0.125492,4,101.092909,3.517549
2,0.700635,0.704447,0.693426,0.725944,0.660954,0.456360,0.466480,0.413536,0.394236,0.404805,...,0.376427,0.420913,0.419882,0.330469,0.235772,0.265225,0.315265,3,101.122522,3.711778
3,0.616775,0.339309,0.371105,0.325054,0.201402,0.338850,0.479398,0.321550,0.223622,0.186537,...,0.458954,0.427402,0.318627,0.191635,0.155920,0.127603,0.508676,3,101.168789,3.370507
4,0.682177,0.290777,0.417248,0.506977,0.204167,0.241031,0.369496,0.279172,0.232975,0.200796,...,0.299553,0.396157,0.291400,0.201519,0.122132,0.124151,0.313272,3,101.136343,3.398865